
/*Estilos para el menú principal*/
@font-face {
  font-family: pixel;
  src: url("../fonts/DePixelHalbfett.ttf");
}
  header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      
  
  }
  
    nav li {
      margin-right: 6rem;
  
      
    }
    nav ul {
      
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      
    }
    nav li a {
      color: white;
      display: block;
      text-decoration: none;
      padding: .4em 0em;
      margin-top: 5px;
      width: auto;
      font-family: pixel;
      font-size:1.0rem;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      display: block;
    
      
    }
    nav li a:hover, li>.active {
      color: #ffffff;
      text-shadow:0px 0px 30px #ffffff;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
  
    }
    .nav-toggle {
        font-size: 3.0rem;
        color: #ffffff;
        float: right;
        display: none;
        background: none;
        border: 0;
        margin-bottom: 1rem;
      }
      .logo>img {
        margin-left: auto;
        width: 190;
        height: 62px;
        
      }
      /*Lo hago responsive para convertirlo en menú desplegable*/
    @media (max-width:1314px){
    
       
      .menu-header {
        margin-top: 3%;
        position:absolute;
        top: -200%;
        right: 20%;
        transition: all 0.3s;
      }
      nav ul {
        position: relative;
        flex-direction: column;
        line-height: 2rem;
        margin-top: 2rem;
        background-color: #292929;
        border: 0px solid black;
        box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px 0  0  15px;
        align-items: center;
        gap: 1rem;
        animation: neon4 1.5s ease-in-out infinite alternate;
        padding: 1rem 2rem 1rem 3rem;
      }
      nav li a {
        font-size: 1.5rem;
        border: 1px solid white;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1rem 1rem 1rem 1rem;
      }
      nav li {
        margin-right: 0rem;
      }
      .nav-toggle {
        display: block;
        line-height: 1.7rem;
      }
      .nav-menu_visible {
        top: 0%;
        right: 10%;
        z-index: 2;
        
      }
    }