@font-face {
    font-family: pixel;
    src: url("../fonts/DePixelHalbfett.ttf");
}
body {
    background-image:url("../img/fondo.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.logo>img {
  margin-left: 30%;
  width: 190;
  height: 62px;
  
}
header {
    display: flex;
    justify-content: space-between;
    flex-basis: 10%;
    

}

  nav li {
    margin-right: 6rem;

    
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
   
  }
  nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    margin-top: 6px;
    font-family: pixel;
    font-size:1.2rem;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: block;
  
    
  }
  nav li a:hover, li>.active {
    color: #ffffff;
    text-shadow:0px 0px 30px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

  }
  .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20%;
    margin-top: 10%;
    float: right;
  }  
  .right-side>img{
    height: 15rem;
    width: 15rem;
    animation: up-down 1.4s infinite ease-in-out alternate;
  }
  @keyframes up-down{
    from{
      transform: translatey(0px);
    }
    to{
      transform: translatey(-20px);
    }
  }
  h1 {
    font-family: pixel;
    color: white;
    font-size: 2rem;
  }
  h2 {
    margin-top: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.8rem;
}
.right-side>h1{
  margin-bottom: 0px;
}
button {
    width: 310px;
    height: 68px;
    font-family: pixel;
    background-color: white;
    font-size: 2.1rem;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
button:hover {
  color: #ffffff;
  background-color: rgb(54, 54, 54);
  text-shadow:0px 0px 30px #ffffff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social-media{
  display: flex;
  gap: 4rem;
  margin-top: 0.5rem;
}
.checkbtn {
  font-size: 3.5rem;
  color: #ffffff;
  float: right;
  display: none;

}
#check {
  display:block;
}

@media (max-width:952px){
  h1 {
    background-color: red;
  }
}

@media (max-width:858px){
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: red;
    top: 80px;
    right: 100%;
    text-align: center;
    transition: all .5s;
    flex-direction: column;
    gap: 0;

  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 0.8rem;
  }

  #check:checked + h1 {
    background:aqua;
    color: blueviolet;

}
}