

.imagenes-texto {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
#proyectos> div > img {
    width: 450px;
    height: 300px;
    border-radius: 15px;
       
}
.top-image,.bottom-image {
   display: flex;
    align-items: center;
    align-content: center;
    padding: 2rem;
}
p {
    padding: 1rem;
    padding-top: 0;
    text-align: center;
    font-size: 1.5rem;
}
h2 {
    font-size: 2.5rem;
   text-align: center;
}
footer {
    margin-top: 0.8rem;
}

/*Convierto las imagenes a columna para verlas mejor*/
@media (max-width:920px){
    .top-image,.bottom-image {
        flex-direction: column;
    }
    .bottom-image {
        flex-direction: column-reverse
    }
}
