.content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}
p{
    font-size: 1.5rem;
}
.right-side{

    text-align: center;
}
.left-side {
    width: auto;
}
.right-side > button {
    width: 220px;
    height: 70px;
    border: 0;
    border-radius: 5px;
    font-family: pixel;
    background-color: rgb(32, 32, 32);
    font-size: 2.1rem;
    transition: all 0.2s ease-in;
    animation: blink 1.0s infinite alternate;
line-height: 2rem;
margin-top: 1rem;
}
.right-side>button>a {
    font-size: 1.7rem;
    color: white;
}
.right-side>button:hover{
    
    background-color: rgb(255, 255, 255);
    text-shadow:0px 0px 30px #000000;
    transition: all 0.2s ease-in;
}
.right-side>button>a:hover{
    color: black;
}
@media (max-width:414px){
    .content{
        flex-direction: column;
    align-content: center;
    align-items: center;
    }
    hr {
        width: 300px;
        height: 1px;
    }
    p {
        width: 17rem;
    }
    @-webkit-keyframes blink {
        100% {
          box-shadow: 0 0 5px rgb(252, 252, 252), 0 0 0px rgb(252, 252, 252), 0 0 20px rgb(252, 252, 252), 0 0 0px rgb(252, 252, 252),
            0 0 0px rgb(252, 252, 252), 0 0 0px rgb(252, 252, 252);
        }
      }
}