.puntero{
    width: 50px;
    height: 40px;
    line-height: 90%;
    
}
footer>button>.contactame {
    width: 210px;

}
footer>button>.ver-original{
color: rgb(226, 38, 5);
}
footer>button>.ver-original:hover{
    color: white
    }

a {
    font-size: 1.5rem;
    font-family: pixel;
    color: hsl(0, 0%, 100%);
}
main #button-ver {
    box-shadow:0px 0px 30px hsl(300, 12%, 97%);
    transition: all 0.2s ease-in;
}



/*Cambio las imagenes del prototipo a columna para verlas mejor*/
@media (max-width:692px){
    .prototipo {
        flex-direction: column;
        
    }
}